.cog/*
**/__pycache__/*
temp/*
.idea/*
checkpoints/*
.DS_Store
.mypy_cache/
.idea/

swin2sr-cache/*
clipseg-proc-cache/*
clipseg-cache/*
blip-proc-cache/*
blip-cache/*
.ipynb_checkpoints/*
*.ipynb
trained_models/*
temp_in/*
*/.ipynb_checkpoints/*
.Trash-0/*

*.swp
*.debug
*.bak
token.txt

notebooks
*.egg-info

package-lock.json
node_modules
package.json
lint_result.txt

*.xlsx
*.pdf
*.log
